html {
  background-color: antiquewhite;
}
.color {
  width: 100px;
  height: 100px;
  position: relative;
  float: left;
  border: solid 2px;
  left: 55px;
  border-radius: 100%;
}
.color + .color {
  margin-left: 2px;
}
#blue {
  background-color: blue;
}
.color:hover {
  border: unset;
}
#black:hover {
  border: white 3px dotted;
}
#black {
  background-color: black;
}
#orange {
  background-color: orange;
}
#green {
  background-color: green;
}
#red {
  background-color: red;
}
#purple {
  background-color: purple;
}
#white {
  background-color: white;
}
.box-draw {
  width: 840px;
  height: 700px;
  background-color: white;
  border: solid 3px;
  position: relative;
  top: 107px;
  left: 55px;
}
#brush img {
  height: 100px;
  width: 100px;
}
#brush {
  border-radius: unset;
}
